@charset "UTF-8";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000; /* fundo das barras */
}

/* container implícito do jogo */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* canvas SEMPRE centralizado */
canvas {
  display: block;
  background: #6bd16b;
  image-rendering: pixelated;
}